/* CUSTOM STYLES */

/* -----------------------------------------------
TABLE OF CONTENTS:
1.  General Styles
2.  Home Page Hero Orange "GDP TUNING NOTCH"
3.  Home Page "Select Your Truck Section"
4.  Home Page "Tuners" section
5.  Home Page "Products" section
6.  Home Page "FIND YOUR CLOSEST DEALER OR DISTRIBUTOR" section
7.  Header right section for canadian link and social icons
8.  Manual Page - banner image/notch
9.  manual page coming soon...
10. Dealer Page - banner image/notch coming soon...
11. Dealer Page - map, dropdown, etc
----------------------------------------------- */

/* ----------------------------------------------- */

/* ------------------1. GENERAL------------------- */

/* ----------------------------------------------- */

/* take out footer that gives credit to pavilion */

#bottom {
    display: none;
}

/* had to do this so to make home page content full width: */

/* in the drop down for the row, if you select full, it will actually go full width
like it is supposed to...thanks to the style below: */

#wrapper:not(.container) > .tb_width_fixed,
#wrapper:not(.container) > .container,
#wrapper:not(.container) > :not(.container):not(.tb_width_fixed):not(.tb_content_fixed) > .tb_width_fixed {
    margin-left: 0;
    margin-right: 0;
}

@media screen and (min-width: 2000px) {
    #wrapper:not(.container) > .tb_width_fixed,
    #wrapper:not(.container) > .container,
    #wrapper:not(.container) > :not(.container):not(.tb_width_fixed):not(.tb_content_fixed) > .tb_width_fixed {
        margin-left: auto;
        margin-right: auto;
    }
}

#content,
#content > div > div {
    padding: 0;
    margin: 0;
}

.container,
.tb_width_fixed,
#wrapper:not(.container) > .tb_content_fixed > .row-wrap {
    max-width: 2500px;
}

/* had to do this so to make the header lose margin, gain padding, color*/

#header > div.row_6JMb0.row-wrap.tb_content_fixed.tbMobileShow {
    background: linear-gradient(#000000 65%, #fff 35%);
    padding: 12px 0 0;
    color: white;
}

#Menu_X9U19E5w a:not(:hover) {
    color: white;
}

.row_Sv9uv {
    background: #000000;
}

/* welcome visitor link in header */

@media screen and (max-width: 1260px) {
    #HeaderWelcomeSystem_RxxdDvxf {
        padding: 0;
        margin: 0;
    }
}

/* Foooter Html Block list items */

#Html_Q5K89hjV > div > nav > ul > li {
    margin-bottom: 5px;
}

/* sticky header fix */

#sticky_header {
    visibility: visible;
    padding: 20px 20px !important;
}

/*foooter bg*/

#footer {
    background-color: black;
}

/* ----------------------------------------------- */

/* ---------------------GENERAL END--------------- */

/* ----------------------------------------------- */

/* ----------------------------------------------- */

/* ------------------2. HERO NOTCH---------------- */

/* ----------------------------------------------- */

#gdpHeroBannerImg {
    width: 46%;
    margin-top: -4.4%;
    margin-left: -5px;
    z-index: 99;
    position: relative;
}

/* ----------------------------------------------- */

/* ------------------HERO NOTCH END--------------- */

/* ----------------------------------------------- */

/* ----------------------------------------------- */

/* ------------------3. SELECT YOUR TRUCK--------- */

/* ----------------------------------------------- */

#selectYourTruckContainer {
    margin-left: -72px;
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#selectYourTruckHeader {
    width: 60%;
    text-align: center;
    margin: 20px 0 45px;
}

#selectYourTruckHeader div {
    display: inline-block;
}

#logosGroup {
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.logosGroupFigure {
    margin: 0 2vw;
}

#logosGroup img {
    height: 95px;
    margin: 1em;
}

#logosGroup img:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#logosGroup a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    width: 100%;
}

#trucksGroup {
    width: 50%;
}

#powerstrokeTruck,
#duramaxTruck,
#cumminsTruck {
    position: absolute;
    top: -6px;
    height: 100%;
}

#powerstrokeTruck {
    right: -15%;
}

#duramaxTruck,
#cumminsTruck {
    right: -100vw;
}

.buyKitButton {
    margin-top: 20px;
    width: 50%;
    background: #f05423;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f05423), to(#c5370a));
    background-image: linear-gradient(to bottom, #f05423, #c5370a);
    border-radius: 5px;
    color: #ffffff;
    font-size: 15px;
    padding: 8px 13px 8px 13px;
    text-decoration: none;
}

.buyKitButton:hover {
    background: #9c2600;
    text-decoration: none;
}

/* ----------------------------------------------- */

/* ------------------SELECT YOUR TRUCK END-------- */

/* ----------------------------------------------- */

/* ----------------------------------------------- */

/* ------------------4. TUNERS------------------- */

/* ----------------------------------------------- */

#homeTunersImageSectionImg {
    width: 100%;
}

#tunerLogosMobile {
    display: none;
}

#tunerLogosMobileText {
    text-align: left;
    position: absolute;
    top: 75%;
    padding: 6px 10%;
    color: white;
    font-size: 1.3em;
    line-height: 1em;
}

#ezLogoTuners,
#efiliveLogoTuners {
    position: absolute;
    top: 51%;
    height: 20%;
}

#ezLogoTuners:hover,
#efiliveLogoTuners:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#ezLogoTuners {
    left: 27%;
}

#efiliveLogoTuners {
    left: 8%;
}

/* ----------------------------------------------- */

/* ---------------------TUNERS END--------------- */

/* ----------------------------------------------- */

/* ----------------------------------------------- */

/* ------------------4. PRODUCT CATEGORIES-------- */

/* ----------------------------------------------- */

@import url('https://fonts.googleapis.com/css?family=Raleway');
#homeTunersImageSectionImg {
    margin-bottom: 0;
}

#homeProdCategories {
    width: 100%;
    padding: 5% 0;
    background-image: url("/image/catalog/homepage/GDP Background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    width: 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

/* Common style */

.grid figure {
    position: relative;
    float: left;
    overflow: hidden;
    width: calc(100%/3);
    min-width: 40%;
    height: 200px;
    background: #323232;
    text-align: center;
    cursor: pointer;
}

.grid figure img {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
    opacity: 0.8;
}

.grid figure h2 {
    word-spacing: -0.15em;
    font-weight: 300;
}

#homeProdCategories > div > figure > figcaption > h2 > span {
    font-weight: 800;
}

.grid figure figcaption {
    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
    pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
    position: absolute;
    top: 25%;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Anchor will cover the whole item by default */

/* For some effects it will show as a button */

.grid figure figcaption > a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}


/*---------------*/

/***** Oscar *****/

/*---------------*/

figure.effect-oscar img {
    opacity: 0.9;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

figure.effect-oscar h2 {
    color: white !important;
}

figure.effect-oscar:hover h2 {
    opacity: 1;
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

figure.effect-oscar:hover figcaption {
    background-color: rgba(58, 52, 42, 0);
}

figure.effect-oscar:hover img {
    opacity: 0.1;
}

@media screen and (max-width: 1200px) {
    .grid figure {
        height: 165px;
    }
}

@media screen and (max-width: 1024px) {
    .grid figure {
        min-width: 89%;
        height: 200px;
        margin: 15px 0;
    }
}

@media screen and (max-width: 800px) {
    .grid figure {
        display: inline-block;
        float: none;
        margin: 10px auto;
        width: 100%;
        height: 150px;
    }
}

@media screen and (max-width: 400px) {
    .grid figure {
        height: 115px;
    }
}

/* ----------------------------------------------- */

/* ---------------------PRODUCT CATEGORIES END---- */

/* ----------------------------------------------- */

/* ----------------------------------------------- */

/* ----6. FIND YOUR CLOSEST DEALER OR DISTRIBUTOR- */

/* ----------------------------------------------- */

#closestDealerHeader {
    background-color: #f05423;
    width: 60%;
    margin: auto;
}

#closestDealerHeader:hover {
    /*-webkit-box-shadow: none;
	box-shadow: none;*/
    -webkit-box-shadow: 7px 7px 5px -2px #999999;
    box-shadow: 7px 7px 5px -2px #999999;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#closestDealerHeader a h1 {
    font-size: 2.5em;
    text-align: center;
    width: 100%;
    color: white;
    margin: 50px 0;
}

#closestDealerHeader a {
    text-decoration: none;
    color: white;
}

/* ----------------------------------------------- */

/* --------------CLOSEST DEALER END--------------- */

/* ----------------------------------------------- */

/* ----------------------------------------------- */

/* ---------------7. header social and CAN LINK--- */

/* ----------------------------------------------- */

#canadaAndSocialLink {
    text-align: right;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
}

.canadianLink {
    color: #f05323;
    font-size: 13px;
}

.canadianLink:hover {
    color: white;
}

.canadaAndSocialLinkItem {
    text-decoration: none;
    font-size: 1.2em;
    margin: 0 10px;
    line-height: 35px;
}

/* ----------------------------------------------- */

/* ---------------7. header sociaL/CAN END-------- */

/* ----------------------------------------------- */

/* ----------------------------------------------- */

/* -------------8. Manual Banner Img/notch-------- */

/* ----------------------------------------------- */

#manualBannerImgContainer {
    height: 475px;
    width: 100%;
    overflow: hidden;
}

#manualBannerImg {
    width: 100%;
}

#manualBannerImgNotch {
    width: 46%;
    margin-top: -4.8%;
    margin-left: -5px;
    z-index: 99;
    position: relative;
}

/* ----------------------------------------------- */

/* -----------Manual Banner END------------------- */

/* ----------------------------------------------- */

/* ----------------------------------------------- */

/* -------------9. Manual content----------------- */

/* ----------------------------------------------- */

#mainManualContainer {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

#content {
    background: #cccccc6e;
}

#selectYourTruckManualsHeader {
    width: 100%;
    text-align: center;
    margin-bottom: 80px;
    margin-top: 70px;
    font-family: raleway;
    font-weight: 700;
    font-size: 7em;
}

#manualTruckLogosContainer {
    margin: 20px 3%;
    width: 100%;
    height: 125px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.manualTruckLogosFigure {
    margin: 0;
    width: 23%;
    text-align: center;
    height: 100%;
}

.manualTruckLogosFigure img:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.manualTruckLogosFigure a img {
    height: 100%;
}

#cumminsFigure {
    border-left: 3px solid black;
    border-right: 3px solid black;
}

#truckManualsSection {
    width: 100%;
    text-align: center;
}

#truckManualsSection div {
    /*  padding: 0 5%;*/
}

#cumminsManuals,
#powerstrokeManuals,
#duramaxManuals {
    width: 100%;
}

#cumminsBanner {
    margin-top: 60px;
}

#cumminsBanner,
#powerstrokeBanner,
#duramaxBanner {
    display: block;
    height: 100px;
    width: 100%;
}


#truckManualsSection div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

/*
.prodChild {
  text-align: center;
  margin: 20px;
  height: 100px;
  border: 2px solid black;
  min-width: 150px;
}

.prodLink {
  text-align: center;
  margin: 20px;
  min-height: 25px;
  border: 2px solid black;
  padding: 0 10px;
}
*/

#powerstrokeBanner {}

.manualPageBannerContainer {
    margin: 114px 0 0 0;
}

#powerstrokeBannerImg {}

.manualPageBannerImg {}


#powerstrokeManuals {
    display: block;
    margin: auto;
}

.manualSubContainers {
    width: 80%;
}

.manualPageHeadingImageContainer {
    width: 100%;
}

.headingEven {
    position: relative;
    right: 20.1%;
}

.headingOdd {
    position: relative;
    left: 20.1%;
}

.manualPageHeadingImage {
    height: 66px;
    margin: 80px 0 20px;
}

.manualPageProduct {
    border 1px solid grey;
    position: relative;
    margin: 14px;
}

.manualPageProductImage {
    height: 440px;
}

#howToTroubleContainer {
    justify-content: flex-start !important;
}

.troubleTable {
    width: 100%;
}

.troubleTableRow {
    width: 100%;
}

.troubleTableLeftCell {
    width: 80%;
}

.troubleTableRightCell {
    width: 20%;
    padding: 0 !important;
}

.troubleLinkText {
    font-size: 2em;
}

.manualLink {
    position: absolute;
    color: #f05323 !important;
    text-transform: uppercase;
    font-family: montserrat;
    font-size: 1.6em;
}

.manualLink:hover {
    color: black !important;
}

.troubleLink {
    position: absolute;
    color: #f05323 !important;
    text-transform: uppercase;
    line-height: 0;
    font-family: montserrat;
    font-size: 1.6em;
}

.troubleLink:hover {
    color: black !important;
}

.fullWidth {
    width: 1083px;
}

.halfWidth {
    width: 530px;
}

.thirdWidth {
    /*    width: 20%;*/
}


.ezlynk {
    top: 89px;
    left: 34%;
}

.ezlynkTrouble {}

.autocal {
    top: 89px;
    left: 34%;
}

#powerstrokeUpgradeOne {
    top: 116px;
    left: 96px;
}

#powerstrokeUpgradeTwo {
    top: 357px;
    left: 460px;
}

#powerstrokeUpgradeThree {
    top: 116px;
    left: 808px;
}

#powerstrokeUpgradeFour {
    top: 361px;
    left: 262px;
}

#powerstrokeUpgradeFive {
    top: 361px;
    left: 78px;
}

#powerstrokePosFiveOne {
    top: 285px;
    left: 460px;
}

#powerstrokePosFiveTwo {
    top: 285px;
    left: 800px;
}

#powerstrokePosSixOne {
    top: 286px;
    left: 92px;
}

#powerstrokePosSixTwo {
    top: 286px;
    left: 420px;
}

#powerstrokePosSixThree {
    top: 354px;
    left: 238px;
}

#powerstrokePosSixFour {
    top: 354px;
    left: 687px;
}

#powerstrokeDigitalOne {
    top: 184px;
    left: 132px;
}

#powerstrokeDigitalTwo {
    top: 368px;
    left: 460px;
}

#powerstrokeDigitalThree {
    top: 184px;
    left: 782px;
}

.manualPageTroubleContainer {
    background-color: white;
    padding: 22px 45px;
}


/* ----------------------------------------------- */

/* -----------Manual content END------------------ */

/* ----------------------------------------------- */

/* ----------------------------------------------- */

/* ------------10. Dealer Banner Img/notch-------- */

/* ----------------------------------------------- */

#dealerBannerImgContainer {
    height: 475px;
    width: 100%;
    overflow: hidden;
}

#dealerBannerImg {
    width: 100%;
}

#dealerBannerImgNotch {
    width: 46%;
    margin-top: -4.8%;
    margin-left: -5px;
    z-index: 99;
    position: relative;
}

/* ----------------------------------------------- */

/* -----------Dealer Banner END------------------- */

/* ----------------------------------------------- */

/* ----------------------------------------------- */

/* -----11. Dealer Page - Map/Dropdown------------ */

/* ----------------------------------------------- */

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#dealerPageHeader {
    padding: 0 0 15px 0;
    width: 100%;
    margin: 0;
    font-size: 1.8em;
    line-height: 1.5;
    text-align: center;
}

#dealerPageContainer {
    width: 100%;
    height: 100%;
    padding: 2% 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#locationContentContainer {
    width: 25%;
    height: 37vw;
}

.ui-selectmenu-menu .ui-menu {
    height: 39vw;
}

#mapContainer {
    width: 75%;
    height: 1000px;
    padding: 0 0 0 130px;
}


/* 
Class Structure for Info Popup
.ui-selectmenu-button.ui-button
.dealerInfoPopup
    .dealerInfoPopupStateTitle
    .dealerInfoPopupTitleSeperator

    .dealerContentContainer
        .authorizedDealerIcon
        .authorizedDistributorIcon
        .dealerCompanyTitle
        .dealerLogoLink
            .dealerLogo   
        .dealerTelephone                    
        .dealerFax                    
        .dealerEmailLink
            .dealerEmail
        .dealerAddress
        .dealerUrlLink
            .dealerUrl         
        .dealerSeperator 
*/

/* Dropdown */

.ui-selectmenu-button.ui-button {
    width: 100%;
    cursor: pointer;
    animation: pulse 2s 3;
    animation-delay: 2s;
}

.ui-selectmenu-button.ui-button:hover {
    animation: none;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(242, 119, 89, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(242, 119, 89, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(242, 119, 89, 0);
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(242, 119, 89, 0.4);
        box-shadow: 0 0 0 0 rgba(242, 119, 89, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(242, 119, 89, 0);
        box-shadow: 0 0 0 10px rgba(242, 119, 89, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(242, 119, 89, 0);
        box-shadow: 0 0 0 0 rgba(242, 119, 89, 0);
    }
}

.ui-selectmenu-text {
    font-size: 1.2em;
}

/* Dropdown Popup */

.dealerInfoPopup {
    margin-top: 20px;
    width: 100%;
    height: calc(100% - 60px);
    overflow: scroll;
    /*   box-shadow: 1px 1px 1px 1px #666; */
    border-radius: 5px;
    background: #efefef;
    padding: 25px;
    display: none;
}

.dealerInfoPopupStateTitle {
    text-align: center;
    font-size: 3em;
    margin: 0;
}

.dealerInfoPopupTitleSeperator {}

.dealerContentContainer {}

#locationContentContainer div hr {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    margin: 30px 0;
}

.authorizedDealerIcon {
    text-align: left;
    width: 50px;
}

.authorizedDistributorIcon {
    width: 50px;
}

.dealerCompanyTitle {
    text-align: center;
    margin-top: 0;
}

.dealerLogoLink {
    text-decoration: none;
}

.dealerLogo {
    width: 100%;
    padding: 0 10px;
    margin: 0 auto 20px;
}

.dealerTelephone {}

.dealerFax {}

.dealerEmailLink {}

.dealerEmail {}

.dealerAddress {}

.dealerUrlLink {}

.dealerUrl {}





/* Map styles */

.state {
    fill: #ababab;
}

.active-dealer {
    fill: #c5370a;
}

#usaSVG {
    position: relative;
    left: 0;
}

#alaskaSVG {
    position: relative;
    top: -2%;
    left: 50%;
    width: 30%;
    height: 23%;
    overflow: hidden;
}

#canadaSVG {
    position: relative;
    top: -8%;
    left: -23%;
    width: 26%;
}


/* Sparkle Animation */

#alaska {
    -webkit-transform: translate(45%, -24%);
    transform: translate(45%, -24%);
    -webkit-animation-name: sparkle;
    animation-name: sparkle;
    -webkit-animation-duration: 2.1s;
    animation-duration: 2.1s;
}

#canada {
    -webkit-animation-name: sparkle;
    animation-name: sparkle;
    -webkit-animation-duration: 2.1s;
    animation-duration: 2.1s;
}

#alabama {
    -webkit-animation-name: sparkle;
    animation-name: sparkle;
    -webkit-animation-duration: 2.1s;
    animation-duration: 2.1s;
}

#arizona {
    -webkit-animation-name: sparkle;
    animation-name: sparkle;
    -webkit-animation-duration: .7s;
    animation-duration: .7s;
}

#arkansas {
    -webkit-animation-name: sparkle;
    animation-name: sparkle;
    -webkit-animation-duration: 1.7s;
    animation-duration: 1.7s;
}

#california {
    -webkit-animation-name: sparkle;
    animation-name: sparkle;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
}

#colorado {
    -webkit-animation-name: sparkle;
    animation-name: sparkle;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

#connecticut {
    -webkit-animation-name: sparkle;
    animation-name: sparkle;
    -webkit-animation-duration: 2.7s;
    animation-duration: 2.7s;
}

#delaware {
    -webkit-animation-name: sparkle;
    animation-name: sparkle;
    -webkit-animation-duration: 2.7s;
    animation-duration: 2.7s;
}

#florida {
    -webkit-animation-name: sparkle;
    animation-name: sparkle;
    -webkit-animation-duration: 2.1s;
    animation-duration: 2.1s;
}

#georgia {
    -webkit-animation-name: sparkle;
    animation-name: sparkle;
    -webkit-animation-duration: 2.1s;
    animation-duration: 2.1s;
}

#idaho {
    -webkit-animation-name: sparkle;
    animation-name: sparkle;
    -webkit-animation-duration: .7s;
    animation-duration: .7s;
}

#illinois {
    -webkit-animation-name: sparkle;
    animation-name: sparkle;
    -webkit-animation-duration: 1.7s;
    animation-duration: 1.7s;
}

#indiana {
    -webkit-animation-name: sparkle;
    animation-name: sparkle;
    -webkit-animation-duration: 2.1s;
    animation-duration: 2.1s;
}

#iowa {
    -webkit-animation-name: sparkle;
    animation-name: sparkle;
    -webkit-animation-duration: 1.7s;
    animation-duration: 1.7s;
}

#kansas {
    -webkit-animation-name: sparkle;
    animation-name: sparkle;
    -webkit-animation-duration: 1.3s;
    animation-duration: 1.3s;
}

#kentucky {
    -webkit-animation-name: sparkle;
    animation-name: sparkle;
    -webkit-animation-duration: 2.1s;
    animation-duration: 2.1s;
}

#louisiana {
    -webkit-animation-name: sparkle;
    animation-name: sparkle;
    -webkit-animation-duration: 1.7s;
    animation-duration: 1.7s;
}

#maine {
    -webkit-animation-name: sparkle;
    animation-name: sparkle;
    -webkit-animation-duration: 3.3s;
    animation-duration: 3.3s;
}

#maryland {
    -webkit-animation-name: sparkle;
    animation-name: sparkle;
    -webkit-animation-duration: 2.4s;
    animation-duration: 2.4s;
}

#massachusetts {
    -webkit-animation-name: sparkle;
    animation-name: sparkle;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
}

#michigan {
    -webkit-animation-name: sparkle;
    animation-name: sparkle;
    -webkit-animation-duration: 2.1s;
    animation-duration: 2.1s;
}

#minnesota {
    -webkit-animation-name: sparkle;
    animation-name: sparkle;
    -webkit-animation-duration: 1.3s;
    animation-duration: 1.3s;
}

#mississippi {
    -webkit-animation-name: sparkle;
    animation-name: sparkle;
    -webkit-animation-duration: 1.7s;
    animation-duration: 1.7s;
}

#missouri {
    -webkit-animation-name: sparkle;
    animation-name: sparkle;
    -webkit-animation-duration: 1.7s;
    animation-duration: 1.7s;
}

#montana {
    -webkit-animation-name: sparkle;
    animation-name: sparkle;
    -webkit-animation-duration: .7s;
    animation-duration: .7s;
}

#nebraska {
    -webkit-animation-name: sparkle;
    animation-name: sparkle;
    -webkit-animation-duration: 1.3s;
    animation-duration: 1.3s;
}

#nevada {
    -webkit-animation-name: sparkle;
    animation-name: sparkle;
    -webkit-animation-duration: .7s;
    animation-duration: .7s;
}

#new-hampshire {
    -webkit-animation-name: sparkle;
    animation-name: sparkle;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
}

#new-jersey {
    -webkit-animation-name: sparkle;
    animation-name: sparkle;
    -webkit-animation-duration: 2.5s;
    animation-duration: 2.5s;
}

#new-mexico {
    -webkit-animation-name: sparkle;
    animation-name: sparkle;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

#new-york {
    -webkit-animation-name: sparkle;
    animation-name: sparkle;
    -webkit-animation-duration: 2.4s;
    animation-duration: 2.4s;
}

#north-carolina {
    -webkit-animation-name: sparkle;
    animation-name: sparkle;
    -webkit-animation-duration: 2.4s;
    animation-duration: 2.4s;
}

#north-dakota {
    -webkit-animation-name: sparkle;
    animation-name: sparkle;
    -webkit-animation-duration: 1.3s;
    animation-duration: 1.3s;
}

#ohio {
    -webkit-animation-name: sparkle;
    animation-name: sparkle;
    -webkit-animation-duration: 2.1s;
    animation-duration: 2.1s;
}

#oklahoma {
    -webkit-animation-name: sparkle;
    animation-name: sparkle;
    -webkit-animation-duration: 1.3s;
    animation-duration: 1.3s;
}

#oregon {
    -webkit-animation-name: sparkle;
    animation-name: sparkle;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
}

#pennsylvania {
    -webkit-animation-name: sparkle;
    animation-name: sparkle;
    -webkit-animation-duration: 2.4s;
    animation-duration: 2.4s;
}

#rhode-island {
    -webkit-animation-name: sparkle;
    animation-name: sparkle;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;

}

#south-carolina {
    -webkit-animation-name: sparkle;
    animation-name: sparkle;
    -webkit-animation-duration: 2.4s;
    animation-duration: 2.4s;

}

#south-dakota {
    -webkit-animation-name: sparkle;
    animation-name: sparkle;
    -webkit-animation-duration: 1.3s;
    animation-duration: 1.3s;
}

#tennessee {
    -webkit-animation-name: sparkle;
    animation-name: sparkle;
    -webkit-animation-duration: 2.1s;
    animation-duration: 2.1s;
}

#texas {
    -webkit-animation-name: sparkle;
    animation-name: sparkle;
    -webkit-animation-duration: 1.3s;
    animation-duration: 1.3s;
}

#utah {
    -webkit-animation-name: sparkle;
    animation-name: sparkle;
    -webkit-animation-duration: .7s;
    animation-duration: .7s;
}

#vermont {
    -webkit-animation-name: sparkle;
    animation-name: sparkle;
    -webkit-animation-duration: 2.7s;
    animation-duration: 2.7s;
}

#virginia {
    -webkit-animation-name: sparkle;
    animation-name: sparkle;
    -webkit-animation-duration: 2.4s;
    animation-duration: 2.4s;
}

#washington {
    -webkit-animation-name: sparkle;
    animation-name: sparkle;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
}

#west-virginia {
    -webkit-animation-name: sparkle;
    animation-name: sparkle;
    -webkit-animation-duration: 2.4s;
    animation-duration: 2.4s;
}

#wisconsin {
    -webkit-animation-name: sparkle;
    animation-name: sparkle;
    -webkit-animation-duration: 1.7s;
    animation-duration: 1.7s;
}

#wyoming {
    -webkit-animation-name: sparkle;
    animation-name: sparkle;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}


@-webkit-keyframes sparkle {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


@keyframes sparkle {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* ----------------------------------------------- */

/* -----------------DEALER PAGE END--------------- */

/* ----------------------------------------------- */

/* ------------------------------------------------------------ */

/* -----------------MOBILE/TABLET/LAPTOP/EXLG-TV RESPONSIVENESS--------------- */

/* ------------------------------------------------------------ */

@media screen and (max-width: 2133px) {
    #powerstrokeTruck {
        right: -17%;
    }

    #mapContainer {
        height: 810px;
    }
}

@media screen and (max-width: 1877px) {
    #powerstrokeTruck {
        right: -27%;
    }
    #selectYourTruckContainer {
        margin-left: -53px;
    }

    #mapContainer {
        height: 710px;
    }

    .manualTruckLogosFigure {
        width: 30%;
    }
}

@media screen and (max-width: 1674px) {
    #powerstrokeTruck {
        right: -40%;
    }

    #selectYourTruckContainer {
        margin-left: -45px;
    }
    #logosGroup,
    #selectYourTruckHeader {
        margin-left: 40px;
    }

    #mapContainer {
        height: 654px;
    }
}

@media screen and (max-width: 1532px) {
    #powerstrokeTruck {
        right: -49%;
    }
}

@media screen and (max-width: 1400px) {
    #powerstrokeTruck {
        right: -53%;
    }

    #selectYourTruckContainer {
        margin-left: -37px;
    }

    #mapContainer {
        height: 550px;
    }
    #closestDealerHeader a h1 {
        font-size: 2.2em;
    }
    .dealerCompanyTitle {
        font-size: 1.7em;
    }
    .dealerUrlLink {
        font-size: 0.8em;
    }
}

@media screen and (max-width: 1373px) {
    #trucksGroup {
        display: none;
    }
    #logosGroup,
    #selectYourTruckHeader,
    #selectYourTruckContainer {
        width: 100%;
        margin-left: 0;
    }
    #selectYourTruckContainer {
        height: 400px;
        margin-bottom: 60px;
    }
    #closestDealerHeader a h1 {
        font-size: 1.6em;
    }

    #mapContainer {
        height: 523px;
    }
    .manualPageBannerContainer {
        margin-top: 80px;
    }
}

@media screen and (max-width: 1200px) {
    #mapContainer {
        height: 503px;
    }
    #dealerBannerImgContainer,
    #manualBannerImgContainer {
        height: 300px;
    }

    .manualTruckLogosFigure {
        margin: 0 12px;
        height: 87%;
    }

    .manualTruckLogosFigure a img {
        height: 100%;
    }
    .manualPageBannerContainer {
        margin-top: 50px;
    }
}

@media (max-width: 979px) {
    /* Selectors and styles affecting screens UP TO 979px (Desktop) */
    #mapContainer {
        width: 75%;
        height: 460px;
        padding: 0 0 0 55px;
    }
    #dealerPageContainer {
        padding: 0 3% 45px 8%;
    }
    #closestDealerHeader a h1 {
        font-size: 1.2em;
    }

    #selectYourTruckManualsHeader {
        font-size: 52px;
        margin-bottom: 20px;
        margin-top: 15px;
    }
    .manualTruckLogosFigure {
        margin: 0;
        height: 57%;
    }

    .manualPageBannerContainer {
        margin-top: 4px;
    }
}

@media (max-width: 768px) {
    /* Selectors and styles affecting screens UP TO 767px (Tablet) */
    #selectYourTruckHeader {
        font-size: 3em;
        margin: 0 0 20px 0;
    }

    #logosGroup img {
        height: 67px;
        margin: 1.5em;
    }

    .buyKitButton {
        margin-top: 5px;
        width: 60%;
        font-size: 14px;
        padding: 5px 5px;
    }

    #selectYourTruckContainer {
        height: 350px;
    }

    #mapContainer {
        display: none;
    }
    #locationContentContainer {
        width: 80%;
        height: 90vw;
        margin: 2% auto 9%;
    }
    #closestDealerHeader {
        width: 100%;
    }
    #closestDealerHeader a h1 {
        font-size: 1.5em;
        margin: 0 0;
    }
    #closestDealerHeader:hover {
        -webkit-box-shadow: none;
        box-shadow: 7px none;
        -webkit-transform: none;
        transform: none;
    }
    /*    DESKTOP VERSION*/
    #tunerLogos {
        display: none;
    }
    /*    MOBILE/TABLET VERSION*/
    #tunerLogosMobile {
        display: block;
    }

    #homeTunersImageSectionImgMOBILE {
        width: 100%;
        margin: 0;
    }

    #efiliveLogoTunersMOBILE {
        position: absolute;
        top: 50%;
        left: 5%;
        height: 20%;
    }

    #ezLogoTunersMOBILE {
        position: absolute;
        top: 50%;
        left: 50%;
        height: 20%;
    }

    #tunerLogosMobileText {
        font-size: 1.6em;
    }

    #sticky_header {
        visibility: hidden;
    }

    #selectYourTruckManualsHeader {
        font-size: 45px;
    }
    #manualTruckLogosContainer {
        margin: 20px 3%;
    }

    #header > div.row_6JMb0.row-wrap.tb_content_fixed.tbMobileShow {
        background: white;
        padding: 12px 0 10px;
        color: white;
    }

    #dealerBannerImgContainer,
    #manualBannerImgContainer {
        height: 250px;
    }
}

@media (max-width: 600px) {
    #selectYourTruckManualsHeader {
        font-size: 39px;
        margin: 0;
    }
    #dealerPageHeader {
        font-size: 1.3em;
    }
}

@media (max-width: 480px) {
    /* Selectors and styles affecting screens UP TO 480px (Phone) */
    #selectYourTruckContainer {
        height: 150px;
    }
    #selectYourTruckHeader {
        font-size: 2em;
    }

    #logosGroup img {
        height: 44px;
        margin: 0.6em;
    }

    .buyKitButton {
        margin-top: 8px;
        width: 70%;
        font-size: 11px;
        padding: 3px 3px;
    }

    #selectYourTruckHeader {
        margin: 0;
    }

    #closestDealerHeader a h1 {
        font-size: 0.9em;
    }

    #tunerLogosMobileText {
        font-size: 1.2em;
    }

    #selectYourTruckManualsHeader {
        font-size: 24px;
        margin-top: -30px;
    }

    #cumminsFigure {
        border-left: none;
        border-right: none;
    }

    #manualTruckLogosContainer {
        margin: 0;
        height: 55px;
    }

    .grid figure figcaption,
    .grid figure figcaption > a {
        top: 15%;
    }

    #dealerBannerImgContainer,
    #manualBannerImgContainer {
        height: 140px;
    }
}

/* ------------------------------------------------------------ */

/* -----------------MOBILE/TABLET RESPONSIVENESS END----------- */

/* ------------------------------------------------------------ */
