<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Vue JS Product Magic</title>

    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Abel|Advent+Pro|Alegreya|Alice|Amaranth|Arapey|Aref+Ruqaa|Bentham|Bubbler+One|Cantata+One|Chathura|Convergence|Domine|Droid+Serif|Gentium+Basic|Lato|Libre+Baskerville|Lora|Marvel|Merriweather|Nunito|Old+Standard+TT|Open+Sans|Oranienbaum|Oswald|Prata|Quicksand|Rufina|Ruluko|Rum+Raisin|Saira|Saira+Condensed|Saira+Extra+Condensed|Sansita|Snippet|Text+Me+One|Titillium+Web|Vidaloka|Wire+One" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
    <div class="product-item-container">
        <div class="product-item-container-two" v-for="product in gdp_products">
            <div class="product-details">
                <h4 class="prod-code">PRODUCT CODE:</h4>
                <h5 class="prod-code-title">{{ product.prod_code }}</h5>
                <p class="social-icons-prod-item">
                    <a v-if="product.prod_manual !== ''" class="manual-box-link" :href="product.prod_manual"><i class="fa fa-book"></i></a>
                    <span class="tooltiptext">Open Manual</span>
                    <a class="fb" :href="'https://www.facebook.com/sharer/sharer.php?u=' + product.social_url + product.social_url_prod_cat_id + '%23' + product.prod_category + '&title=' + product.prod_name"><i class="fa fa-facebook"></i></a>
                    <a class="tw" :href="'https://twitter.com/intent/tweet?url=' + product.social_url + product.social_url_prod_cat_id + '%23' + product.prod_category"><i class="fa fa-twitter"></i></a>
                    <a class="goog" :href="'https://plus.google.com/share?url=' + product.social_url + product.social_url_prod_cat_id + '%23' + product.prod_category"><i class="fa fa-google-plus"></i></a>
                </p>
                <div class="btn-container">
                    <a :href="product.dealer_link">
                        <button class="dealer-button">
                        <span class="msrp-price">${{ product.prod_msrp }}</span>
                        <span class="truck-icon">
                            <i class="fa fa-truck"></i>
                        </span>
                        <span class="buy">Contact Dealer</span>
                        </button>
                    </a>
                </div>
            </div>
            <div class="product-image">
                <h3 class="prod-name">{{ product.prod_name }}</h3>
                <img :src="product.image_domain + product.prod_image" v-bind:alt="product.prod_name">
                <div class="info">
                    <h2>Description</h2>
                    <div v-html="product.prod_desc"></div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js"></script>
    <script src="piping-kits.js"></script>
</body>
</html>
