*{
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
}

body {
	background-color: #acacac;
}

/* --------------------------------- */

.product-item-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: var(--manpagesize);
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: center;
}

.product-item-container-two {
    height: 440px;
    width: 31%;
    margin: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
}

/* 	Product details  */

.product-details {
    position: relative;
    padding: 18px;
    height: 20%;
    float: left;
    width: 100%;
    background-color: #cecccc;
    /* 	z-index: 2; */
}

/* 	Product Name */

.product-item-container-two .product-details h1 {
    display: inline-block;
    position: relative;
    font-size: 34px;
    color: #344055;
    margin: 0;
}

.quickManLink {
    width: 75%;
    font-size: 0.9em;
    text-align: right;
    cursor: pointer;
    display: block;
}

.prod-name {
    position: absolute;
    top: 10px;
    left: 15px;
}

.prod-code {
    margin: 0 0 0.3em 0;
}

.prod-code-title {
    margin: 0 0 0 2em;
}

.product-item {
    width: 31%;
    height: 157px;
    overflow: hidden;
    overflow-x: scroll;
    overflow-y: scroll;
    margin: 10px;
}

.product-item .button-group {
    display: none;
}

.product-item .tb_label_stock_status {
    display: none;
}

/* button container */

.btn-container {
    position: absolute;
    bottom: -56%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.man-container {
    position: absolute;
    bottom: 31%;
    /*   left: 50%; */
    /* 	transform: translate(-50%); */
}


/* the Button */

.btn-container .dealer-button {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition: 0.3s linear;
    transition: 0.3s linear;
    background-color: #F26A22 !important;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    outline: none;
    border: none;
    color: #eee;
    padding: 0;
    margin: 0;
}

.dealer-button:hover {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
}

.dealer-button span {
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    display: inline-block;
    padding: 0 13px;
    font-size: 1em;
    margin: 0;
}

/* dealer truck icon */

.dealer-button .msrp-price,
.truck-icon {
    background: #333;
    border: 0;
    margin: 0;
}

.dealer-button .msrp-price {
    -webkit-transform: translateX(-10%);
    transform: translateX(-10%);
    padding-right: 15px;
}

/* the Icon */

.dealer-button .truck-icon {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    position: absolute;
    background: #333;
    /* 	z-index: 1; */
    left: 0;
    top: 0;
}

/* buy */

.dealer-button .buy {
    /* 	z-index: 3; */
    font-weight: bolder;
}

.dealer-button:hover .msrp-price {
    -webkit-transform: translateX(-110%);
    transform: translateX(-110%);
}

.dealer-button:hover .truck-icon {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
}

/* product image  */

.product-image {
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    display: inline-block;
    position: relative;
    overflow: hidden;
    float: right;
    width: 100%;
    display: inline-block;
    padding: 2em 1em;
    background-color: white;
}

.product-item-container-two img {
    width: 100%;
    height: 100%;
    /* 	transform: translate(-7px, 25px) rotate(10deg) scale(1.4); */
    -webkit-transform: translate(-13px, -1px) rotate(10deg);
    transform: translate(-13px, -1px) rotate(10deg);
}

.info {
    background: white;
    -webkit-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
    -webkit-transform: translateY(120%);
    transform: translateY(120%);
    position: absolute;
    line-height: 1.9;
    color: black;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    /* 	opacity: 0.9; */
    padding: 2em;
    overflow-y: scroll;
    /* 	z-index: 3; */
}

.info p {
    width: 80%;
    font-size: 0.9em;
    margin: 0;
}

/* li {

}

.info h2 {
} */

.product-image:hover .info {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

/* a {
  color: #fff;
  text-decoration: none;
  font-family: Helvetica, Arial, sans-serif;
  margin-right:.3em;
  font-size: .8em;
  border-radius: 4px;
} */

.fa-facebook,
.fa-twitter,
.fa-pinterest-p,
.fa-google-plus {
    /*   text-align:left; */
    font-size: 1.2em;
    /*   margin-right:.5em; */
}

.fb {
    /*   background-color:#3A5795;
  padding:0.6em 1.4em 0.6em 1em;
  text-align:left;
  border: 2px solid #3a5795; */
    color: #3A5795;
    /* 	position: absolute;
  top: 0;
  left: 0; */
    font-size: 1em;
    padding: 6px 10px;
    /*
    position: absolute;
    top: 135px;
    right: 41%;
*/
    background-color: white;
    /*   border: 1px solid orange; */
}

.fb:hover {
    /*   background-color:#fff; */
    color: black;
}

.tw {
    /*   background-color:#00B0ED;
  padding:0.6em 1.4em 0.6em 1em;
  text-align:left;
  border: 2px solid #00B0ED; */
    color: #00B0ED;
    /* 	position: absolute;
  top: 0;
  left: 40px; */
    font-size: 1em;
    padding: 6px 10px;
    /*
    position: absolute;
    top: 135px;
    right: 22%;
*/
    background-color: white;
    /*   border: 1px solid orange; */
}

.tw:hover {
    /*   background-color:#fff; */
    color: black;
}

/* .pin {
  background-color:#BE091C;
  padding: 0.6em 1.4em 0.6em 1em;
  text-align:left;
  border: 2px solid #BE091C;
}
.pin:hover {
  background-color:#fff;
  color:#BE091C;
} */

.goog {
    /*   background-color:#DD4B39;
  padding: 0.6em 1.4em 0.6em 1em;
  text-align:left;
  border: 2px solid #DD4B39; */
    color: #DD4B39;
    /* 	position: absolute;
  top: 0;
  left: 75px; */
    font-size: 1em;
    padding: 6px 10px;
    /*
    position: absolute;
    top: 135px;
    right: 3%;
*/
    background-color: white;
    /*   border: 1px solid orange; */
}

.goog:hover {
    /*   background-color:#fff; */
    color: black;
}

.manual-box-link {
    /*   background-color:#DD4B39;
  padding: 0.6em 1.4em 0.6em 1em;
  text-align:left;
  border: 2px solid #DD4B39; */
    color: #DD4B39;
    /* 	position: absolute;
  top: 0;
  left: 75px; */
    font-size: 1em;
    padding: 6px 10px;
    /*
    position: absolute;
    top: 135px;
    right: 60%;
*/
    background-color: white;
    /*   border: 1px solid orange; */
}

.manual-box-link:hover {
    /*   background-color:#fff; */
    color: black;
}


.social-icons-prod-item {
    position: absolute;
    top: 136px;
    left: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.social-icons-prod-item a {
    width: 14%;
    height: 39%;
    -webkit-box-shadow: -3px -2px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    box-shadow: -3px -2px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin: 0 5px;
}


/* .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
} */

.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 999;
    /*     bottom: 125%; */
    /*     left: 50%; */
    margin-left: -60px;
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    top: -40px;
    left: 23%;
}

.tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
} */

.manual-box-link:hover + span {
    visibility: visible;
    opacity: 1;
}

/* --------------------------------- */