* {
/*  padding: 0;*/
/*  margin: 0;*/
/*  -webkit-box-sizing: border-box;*/
/*  box-sizing: border-box;*/
}

html, body {
  width: 100vw;
  height: 70vh;
}

body {
  padding: 2% 4%;
}

section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100vw;
    min-height: 200px;
}

.teamPic {
    width: 200px;
    height: 200px;
    background-color: #acacac;
    margin: 15px;
    border-radius: 50%;
    background-size: cover;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.teamPic:hover {
    width: 300px;
    height: 300px;
}

.teamPic1 {
    background-image: url("image/catalog/teampage/1primary.jpg");
}

.teamPic1:hover {
    background-image: url("image/catalog/teampage/1secondary.jpg");
}

.teamPic2 {
    background-image: url("image/catalog/teampage/2primary.jpg");
}

.teamPic2:hover {
    background-image: url("image/catalog/teampage/2secondary.jpg");
}

.teamPic3 {
    background-image: url("image/catalog/teampage/3primary.jpg");
}

.teamPic3:hover {
    background-image: url("image/catalog/teampage/3secondary.jpg");
}

.teamPic4 {
    background-image: url("image/catalog/teampage/4primary.jpg");
}

.teamPic4:hover {
    background-image: url("image/catalog/teampage/4secondary.jpg");
}

.teamPic5 {
    background-image: url("image/catalog/teampage/5primary.jpg");
}

.teamPic5:hover {
    background-image: url("image/catalog/teampage/5secondary.jpg");
}

.teamPic6 {
    background-image: url("image/catalog/teampage/6primary.jpg");
}

.teamPic6:hover {
    background-image: url("image/catalog/teampage/6secondary.jpg");
}

.teamPic7 {
    background-image: url("image/catalog/teampage/7primary.jpg");
}

.teamPic7:hover {
    background-image: url("image/catalog/teampage/7secondary.jpg");
}

.teamPic8 {
    background-image: url("image/catalog/teampage/8primary.jpg");
}

.teamPic8:hover {
    background-image: url("image/catalog/teampage/8secondary.jpg");
}

.teamPic9 {
    background-image: url("image/catalog/teampage/9primary.jpg");
}

.teamPic9:hover {
    background-image: url("image/catalog/teampage/9secondary.jpg");
}

.teamPic10 {
    background-image: url("image/catalog/teampage/10primary.jpg");
}

.teamPic10:hover {
    background-image: url("image/catalog/teampage/10secondary.jpg");
}

.teamPic11 {
    background-image: url("image/catalog/teampage/11primary.jpg");
}

.teamPic11:hover {
    background-image: url("image/catalog/teampage/11secondary.jpg");
}

.teamPic12 {
    background-image: url("image/catalog/teampage/12primary.jpg");
}

.teamPic12:hover {
    background-image: url("image/catalog/teampage/12secondary.jpg");
}

.teamPic13 {
    background-image: url("image/catalog/teampage/13primary.jpg");
}

.teamPic13:hover {
    background-image: url("image/catalog/teampage/13secondary.jpg");
}
